<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main.css">
    <title><%= title %></title>
  </head>
  <body>
    <% include views/toolbar %>
    <div class = "container">
      <br>
    <div class="grid">
      <div class="grid-sizer"></div>
    <% for (var i = 0; i < images.length; i++) { %>
      <div class="grid-item">
        <img src="<%= images[i].imageurl %>" onerror="imgError(this);">
        <p class="text-center">
        <div id="profilediv"><a href="/user/<%= images[i].creatorid %>"><img id="profile" src="<%= images[i].creatorimage %>"></a><%= images[i].description %></p></div>
        <% if (login && userid == images[i].creatorid) { %>
          <br><a class="btn btn-danger btn-block" id="delete" href="/delete/<%= images[i].id %>">Delete this image</a>
        <% } %>
      </div>
    <% } %>
    </div>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="/public/js/main.js"></script>
  </body>
</html>
